a{
    text-decoration: none;
    
}



.Login-image{
    display: flex;
    
    width: 100%;
    height: 18rem;
    overflow: hidden;
    margin: 0px;
   background-image: url("https://cdn.pixabay.com/photo/2018/01/19/06/26/handymen-3091826_1280.jpg");
   background-position: 0% 30%;
   background-color: rgb(100, 97, 97);
   background-blend-mode: multiply;
    align-items: center;
    justify-content: center;
}

.Login-mainhead{
    color: black;
    font-size: 2rem;
    margin: 0px;
}

.Login-subhead{
    color: rgb(117, 115, 115);
    font-size: 1rem;
    margin: 0px;
}


.Login-heading{
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    align-items: flex-start;
    gap: 10px;
    font-weight: bolder;

}


.Image-div{
   background: url("https://img.freepik.com/free-vector/phishing-account-with-laptop_23-2148555135.jpg?w=2000&t=st=1682065382~exp=1682065982~hmac=5920fcd0b91a76d50cbfedd298ecb6e0967a4447be0ee952c34c498297b3f45c") no-repeat center;
   background-size: cover; 
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
   width: 23rem;

}

.Image-signup{
    background: url("https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=1380&t=st=1682065556~exp=1682066156~hmac=8244e34635e42c2b71876954eaabae1c7ab8a488a4907f27dc1d795a8041dc4e") no-repeat center;
    background-size: cover; 
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    width: 23rem;
 
 }

.Image-divAdmin{
background: url("https://cdn.pixabay.com/photo/2017/10/11/11/43/multitasking-2840792_1280.jpg") no-repeat center;
   background-size: cover; 
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
   width: 23rem;
}

.Service-type{
    padding: 10px;
    border: rgb(226, 232, 246) solid;
    border-radius: 3px;
}

.Image-divProvider{
    background: url("https://cdn.pixabay.com/photo/2020/04/01/15/33/air-4991613_1280.jpg") no-repeat center;
   background-size: cover; 
   padding: 20px;
   border-radius: 0px 10px 10px 0px;
   width: 23rem;
}

.Toggle-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Button-Toggle{
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    transition-duration: 1s;
    width: 100px;
}

.Button-Toggle:hover{
    background-color: rgb(45, 100, 154);
}

.Signup-card{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.Form{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 30px;
    width: 23rem;
    height: 35rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;

}

.Form-signup{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 5px;
    padding: 30px;
    width: 23rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;
}

.Form-Provider{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 30px;
    width: 23rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;
}

.Error-signup{
    color: red;
    margin: 0px;
    padding: 0px;
}

.Signup-Label{
    margin-bottom: -15px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.AdminSignup-Label{
    margin-bottom: -40px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.Join-Label{
    margin-bottom: -30px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.Signup-Input{
    padding: 10px;
    border: rgb(226, 232, 246) solid;
    border-radius: 3px;
    
}

.Signup-Pwdbox{
    display: flex;
    width: 100%;
    border: rgb(226, 232, 246) solid;
    border-radius: 3px;
    align-items: center;
    justify-content: space-around;
    padding-right: 5px;
}

.Signup-Pwdbox:focus-within{
    border: rgb(20, 106, 191) solid;
    border-radius: 3px;
}
.Signup-InputPwd{
    border: none;
    padding: 10px;
    width: 90%;
    outline: none;
}

.fa-solid{
    cursor: pointer;
}

.Button-Signup{
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    transition-duration: 1s;
}

.Button-Signup:hover{
    background-color: rgb(16, 95, 174);
    cursor: pointer;
}

.Already{
    display: flex;
    gap: 10px;
    text-align: center;
}

.Primary-Signup{
    color: #242424;
    margin: 0px;
}

.Secondary-Signup{
    color: dodgerblue;
    margin: 0px;  
}

.Signup-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
}

.Signup-heading{
    margin: 0px;
    color: black;
    font-weight: bolder;
}
.Signup-ptag{
    margin: 0px;
    color: #4b4a4a;
}

.Login-sec2{
    display: flex;
    justify-content: space-between;

}
.Remember{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.Remember-ptag{
    color: #4b4a4a;
    margin: 0px;
}
.Forget{
    color: dodgerblue;
    margin: 0px;
}

.Form-Admin{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 20px;
    padding: 30px;
    width: 23rem;
    height: 35rem;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    border-radius: 10px 0px 0px 10px;

}



.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.Form-forget{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    gap: 50px;
    padding: 30px;
    width: 23rem;
    
    border-radius: 10px 0px 0px 10px;
}

.Forgrt-Label{
    margin-bottom: -60px;
    margin-left: 10px;
    z-index: 2;
    background-color: white;
    width: fit-content;
}

.Forget-screen{
    display: flex;
    justify-content: center;
}

.forget-card{
    display: flex;
    margin: 150px;
    justify-content: center;
    box-shadow: 10px 10px 40px rgb(202, 226, 246);
    width: fit-content;
}

.Image-forget{
    background: url("https://img.freepik.com/free-vector/access-control-system-abstract-concept_335657-3180.jpg?w=1380&t=st=1682060673~exp=1682061273~hmac=544e27ea4f0e09b99e63a94a9f4b468f564e98e0ce1a5cb806e08a83207ea286") no-repeat center;
    background-size: cover; 
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    width: 23rem;
    background-color: white;
 
 }

@media only screen and (max-width: 600px) {

    .Image-div{
        display: none;
    }
    
    .Image-forget{
        display: none;
    }
    
    .Login-content{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px;
        box-shadow: 10px 10px 40px rgb(202, 226, 246);
        overflow: hidden;
        height: 550px;
        gap: 30px;
        border-radius: 10px 0px 0px 10px;
        justify-content: center;
        width: 100%;
    }

    .Form{
        
        
        width: 22rem;
        height: 33rem;
        box-shadow: 10px 10px 40px rgb(202, 226, 246);
        border-radius: 10px;
    
    }

    .Image-signup{
        display: none;
    }

    .Form-Admin{
        width: 23rem;
        height: 35rem;
        box-shadow: 10px 10px 40px rgb(202, 226, 246);
        border-radius: 10px;
    }
    .Image-divAdmin{
        display: none;
    }

    .Image-divProvider{
        display: none;
    }

}