.Category-Outer {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: left;
    box-shadow: 10px 10px 40px rgb(206, 206, 225);
}

.Category-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(235, 244, 249);
    padding: 20px;
    width: 60%;
    border-radius: 10px 0px 0px 10px;
}


.StatusColor_Active{
    color: green;
    font-weight: 800;
}
.StatusColor_Inactive{
    color: red;
    font-weight: 800;
}

.SubCategory {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(235, 244, 249);
    padding: 20px;
    width: 100%;
    box-shadow: 10px 10px 40px rgb(215, 227, 240);
    margin: 10px;
    border-radius: 20px;
}

.Application-popup {
    width: 400px;
    background-color: dodgerblue;
}

.Table-subcat {
    width: 100%;
}

.Filter-box {
    border: 0.5px solid black;
    border-radius: 8px;
    padding: 3px;
}

.Filter-box:focus {
    border: 2px solid dodgerblue;
}

.Subcategory-Outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Category-Right {
    object-fit: cover;
    aspect-ratio: 3/2;
    width: 40%;
    border-radius: 0px 10px 10px 0px;
    background-color: #252525;
}

.Category-Label {
    color: black;
    font-weight: bolder;
}

.Category-input {
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.Categorydesc-input {
    border: none;
    padding: 10px;
    border-radius: 3px;
    height: 4rem;
}

.Categoryfile-div {

    padding: 0px;
    background-color: white;
    font-size: 12px;
    border-radius: 3px;
}

.Category-button {
    border: none;
    padding: 5px;
    font-weight: bolder;
    background-color: dodgerblue;
    border-radius: 3px;
    color: white;
    transition-duration: 1s;
}

.Category-button:hover {
    background-color: rgb(56, 97, 137);
}

.Category-Screen {

    text-align: center;
}

.Table-div {
    text-align: center;
}


th {
    border: 1.4px solid black;
}

.icons-category {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px;
    margin: 0px;
}

.categoryicon-btns {
    border: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 3px;
}

.no_data {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 22px;
    font-weight: 700;
}

.ImagePreview {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 4;
}

@media only screen and (max-width:600px) {
    .Category-Right {
        display: none;
    }

    .Category-left {
        width: 100%;
    }
}

.mod {
    text-align: center;
}

.detail {
    /* background-color: #252525; */
    padding: 5px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .det {
    margin-top: 10px;
} */

.Job_Title_maindiv{
    display: flex;
    flex-direction: column;
}

.Delete_btn{
    border: none;
    border-radius: 3px;
    color: red;
    font-weight:bolder;
}