

.demo_h1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
 }
 
 .three{
     text-align: center;
 }
 
 .padd{
  padding: 20px;
 }
 
 * {
     box-sizing: border-box;
     margin: 0;
     /* padding: 0; */
   }
   
 
   
   .container {
     width: 80%;
     margin: auto;
   }
   
   .heading {
     text-align: center;
     font-size: 3.5rem;
     font-weight: bold;
     padding: 5rem 0;
   }
   
   .counter-container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
   }
   
   .counter {
     text-align: center;
   }
   
   .counter h3 {
     padding: 0.5rem 0;
     font-size: 2.5rem;
     font-weight: 800;
   }
   
   .counter h6 {
     font-size: 2rem;
     padding-bottom: 1rem;
   }
   
   .icon {
     height: 5rem;
     width: auto;
   }

   /* .Dashboard-right{
    display: unset ;
    overflow-y: none;
   } */

   .dashboard_heading{
    text-align: center;

   }

   .dashboard_overall_count_div{
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns:auto auto auto;
    gap: 30px;
   }

   .dashboard_view{
       /* border: 2px solid gray; */
       border-radius: 5px;
       width:90%;
       height:80px; 
       display: flex;
       justify-content: space-around;
       align-items: center;     
   }

   .dashboard_view_img{
   }

   #teams_img{
    font-size: 4.0vh;
    color: rgb(65, 65, 196);
   }

   #teams_img_2{
    font-size: 4.0vh;
    color: rgb(239, 248, 239);
   }

   #teams_img_3{
    font-size: 4.0vh;
    color: rgb(251, 245, 251);
   }


   

   .teams_count {
    text-align: center;
   }

   .teams_count h5{
    font-size: 4vh;
    font-weight: 700;
   }

   .team_count_div h6{
    font-weight: 400;
    font-size: 0.9em;
   }



   @media screen and (max-width:970px) {
    .dashboard_overall_count_div{
      display: grid;
      grid-template-columns:auto auto;
      row-gap: 20px;
      column-gap: 20px;
     }

     #teams_img{
      font-size: 6.7vh;
      color: rgb(65, 65, 196);
     }
  
     #teams_img_2{
      font-size: 6.5vh;
      color: green;
     }
  
     #teams_img_3{
      font-size: 6.7vh;
      color: violet;
     }
   }


   @media screen and (max-width:820px) {
     #teams_img{
      font-size: 6vh;
      color: rgb(65, 65, 196);
     }
  
     #teams_img_2{
      font-size: 6vh;
      color: green;
     }
  
     #teams_img_3{
      font-size: 6vh;
      color: violet;
     }
   }



   @media screen and (max-width:715px) {
    .dashboard_overall_count_div{
      display: grid;
      grid-template-columns:auto;
      row-gap: 20px;
     }
     #teams_img{
      font-size: 5.7vh;
      color: rgb(65, 65, 196);
     }
  
     #teams_img_2{
      font-size: 5.5vh;
      color: green;
     }
  
     #teams_img_3{
      font-size: 5.7vh;
      color: violet;
     }

    
   }

   
   @media screen and (max-width:450px) {
    #teams_img{
      font-size: 4.7vh;
      color: rgb(65, 65, 196);
     }
  
     #teams_img_2{
      font-size: 4.5vh;
      color: green;
     }
  
     #teams_img_3{
      font-size: 4.7vh;
      color: violet;
     }
  
   }

   @media screen and (max-width:370px) {
    .team_count_div h6{
      font-weight: 400;
      font-size: 4.2vw;
     }
   }